<div class="container">
    <form [formGroup]="update_evento_form" (submit)="update_evento()">
        <div class="meio">
            <h1>EDITAR EVENTOS</h1>
            <input formControlName="descricao" type="text" placeholder="descrição">
            <input formControlName="data_inicio" type="date" placeholder="início">
            <input formControlName="data_fim" type="date" placeholder="fim">
            <input formControlName="hora_inicio" type="time" placeholder="hora de início">
            <input formControlName="hora_fim" type="time" placeholder="hora de fim">
            <button type="submit">Pronto</button>
        </div>
    </form>
</div>
