<div class="component">

    <div class="esquerda">
        <div class="calendario"> <span id="dia">{{dia}}</span></div>
        <span id="mes">{{mes}}</span>
    </div>

    <div class="direita">
        <div class="icon_container">
            <i data-feather="clock"></i>
            <span>{{hora}}</span>
        </div>
        <p>{{descricao}}</p>
        <div class="icon_button">
            <div (click)="redirect()" class="icon_container">
                <i data-feather="edit"></i>
               <a ><span>Editar Evento</span></a> 
            </div>
            <div (click)="delete()">
                <div class="icon_container">
                    <span>Excluir</span>
                    <i data-feather="trash-2"></i>
                </div>
            </div>
        </div>
    </div>

</div>