<div class="container">
    <div class="esquerda">
        <h1>BEM VINDO!</h1>
        <img id="calendario" src="../../../assets/calendario.png" width="321px" height="321px">
        <img src="../../../assets/logo.png" width="248px" height="53px">
    </div>

    <div class="direita">
        <h1>LOGIN</h1>
        <img src="../../../assets/account 1.png" width="156px" height="158px">
        <input type="text" placeholder="Usuário">
        <input type="password" placeholder="Senha">
        <button>Login</button>
        <span>Não possui login? <a href="/register">Crie sua conta aqui!</a></span>
    </div>
</div>