.container {
    background-image: url("../../../assets/Back.png");
    background-size: auto;
    height: 100vh;
    display: flex;

    h1 {
        margin: 0;
        font-family: 'Francois One';
        color: #fff;
        font-size: 64px;
    }
}

.esquerda {
    //display:flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    justify-content: center;

    #calendario {
        margin: 40px 0;
    }
}

.direita {
    // display:flex;
    flex-direction: column;
    background: #fff;
    width: 40%;
    align-items: center;
    justify-content: center;

    h1 {
        color: #5150A4;
    }

    img {
        margin: 25px 0;
    }

    input {
        width: 350px;
        //height: 53px;
        margin: 8px 0;
        background: #D9D9D9;
        border: none;
        padding: 20px;
        color: rgb(37, 37, 37);
    }

    button {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #fff;
        width: 150px;
        height: 57px;
        background: linear-gradient(180deg, #8D21D9 0%, #AF17D6 100%);
        border: none;
        border-radius: 22px;
        margin-top: 50px;
        margin-bottom: 18px;
    }

    span {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        a{
            font-weight: 900;
            color: #A21AD7;
        }
    }
}