/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');
button{
    cursor: pointer;
}
div {
    display: flex;
}

body {
    margin: 0;
    background-color: gray;
}